{% extends "base.html" %}
{% block content %}
<div class="content center">
    <h1 class="title fs-26 mb-16">{{ curso.nome }}</h1>
    <p class="mb-16 fs-18">Carga Horaria: <span class="bold">{{curso.carga_horaria}} horas</span></p>
    <a href="/curso/{{curso.id}}/iniciar">
        <button class="btn btn-blue fs-22 mb-16 w-100">
            <i class="bi bi-play-fill"></i>
            Iniciar
        </button>
    </a>
    <h2 class="fs-22 mb-16 title">Instrutores</h2>
    {% for usuario, curso, leciona in relacionamento %}
    <div class="badge fs-18 mb-16">
        <img src="{{ url_for('static', filename='download.jfif')}}">
        <p>{{ usuario.nome }}</p>
    </div>
    {% endfor %}
    <div class="center">
        <h2 class="fs-22 mb-16 title">Tópicos</h2>
        <ul>
            {% for t in topico %}
            <li class="mb-16">{{t.titulo}}</li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}